.footer {
    color: #424242;
    font-size: .8rem;
    a4 {
        color: #424242;
    }

    .h1, h1, .h2, h2, .h3, h3, .h4, h4 {
        color: #424242;
    }
    
    .snowy {
        background-color: #4b4b4b;
        padding: 20px 0!important;
    }
    
    .snowy a {
        font-size: .7rem;
        color: #b7b7b7!important;
    }

    .footerlogo {
        height: 30px;
    }

    .row {
        margin: 0;
        padding: 40px 0;
    }

    .areaikon {
        font-size: 40px;
    }

    .areaicon-wrapper {
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .areaicon {
        display: inline-block;
        float: left;
        height: 80px;
        width: 80px;
        margin: 0 auto;
    }

    .eu-logo {
        height: 40px;
        width: auto;
    }

    .areaicon svg {
        width: 60px;
    }

    .areaicon-before {
        margin-top: -80px;
        margin-bottom: 40px;
    }

    .facebook-icon {
        fill: #424242;
    }

    .linkedin-icon {
        fill: #424242;
    }

    .youtube-icon {
        fill: #424242;
    }
    
    .logo-color {
        fill: #424242;
    }

    .hr {
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
}