.news-grid {
  transition: all .2s ease-in-out;
}
.news-grid p {
    font-size: 14px;
}
.news-grid:hover {
   transform: scale(1.02);
   box-shadow: 1px 1px 25px #adadad;
}
.news-grid-excerpt {   
   height: 250px;
}
.news-grid-right-excerpt{
   height: 450px;
}
