#search-modal {
  .modal-dialog {
    margin-top: 10rem;
    max-width: 70%;
  }

  .modal-content {
    background-color: #FFFFFF;
    color: $easit-black-text;
    border-radius: 0;
  }

  .modal-body {
    flex-wrap: wrap;
    padding: 5rem;

    i {
      padding: 0.6rem;
      margin: -1rem -1rem -1rem auto;
      float: right;
      color: $easit-black-text;
      position: absolute;
      right: 1rem;
      top: 1rem;

      &:hover {
        color: $easit-yellow;
        cursor: pointer;
      }
    }

    .sf-spacing {
      border: none;
      border-radius: 0;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.5;
      padding: .5rem 2.75rem;
    }

    .search-field-container {
      overflow: hidden;

      #search-field {
        width: 100%;
        background-color: #eeefef;

        &::placeholder {
          color: rgba(0,0,0,.5);
          text-align: center;
        }
      }
    }

    #search-button {
      color: #FFFFFF;
      position: absolute;
      right: 5rem;
      border-color: transparent;
      white-space: nowrap;
      background: $easit-yellow;
      vertical-align: middle;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $easit-black-text;
      }
    }

    #quick-search-container {
      width: 100%;
      margin-top: 45px;
      padding: 1rem 4rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .menu-title {
        font-weight: 400;
      }

      #quick-search-menu {
        margin-top: 20px;

        .menu {
          display: flex;
          margin: auto;
          max-width: 90%;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 15px;
        }

        .menu-item {
          display: inline-block;
          margin-bottom: 10px;
          margin-right: 10px;
          padding: .375rem 1.75rem;
          border: 1px solid $easit-black-text;
          text-align: center;
          white-space: nowrap;
          background: transparent none;
          vertical-align: middle;
          border-radius: 0.15rem;
          font-size: 1.5rem;
          line-height: 1.5;
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;

          &:hover {
            color: #212529;
            background-color: $easit-yellow;
            cursor: pointer;
          }

          a {
            color: inherit;

            &:hover {
              color: inherit;
            }
          }
        }
      }
    }
  }
}

.search-result-main {

  .page-header {
    padding-top: 3rem;
    margin-bottom: 25px;

    .search-title {
      margin-top: 15px;
      font-weight: 400;
    }
  }


  .sf-spacing {
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: .5rem 2.75rem;
  }

  .search-field-container {
    overflow: hidden;

    #search-field-header {
      width: 100%;
      background-color: #eeefef;

      &::placeholder {
        color: rgba(0,0,0,.5);
        text-align: center;
      }
    }
  }

  #search-button-header {
    color: #FFFFFF;
    position: absolute;
    right: 1rem;
    border-color: transparent;
    white-space: nowrap;
    background: $easit-yellow;
    vertical-align: middle;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $easit-black-text;
    }
  }
}