#search-modal {
  .modal-content {
    background-color: $easit-blue;
    color: #FFFFFF;
    border-radius: 0;
  }

  .modal-header {
    border-color: rgba(255, 255, 255, 0.25);

    i {
      padding: 1rem;
      margin: -1rem -1rem -1rem auto;
      float: right;
      color: #FFFFFF;

      &:hover {
        color: $easit-yellow;
        cursor: pointer;
      }
    }
  }

  #search-field {
    width: 100%;
    border-color: $easit-yellow;
    border-bottom-width: 2px;
    background: none;
    color: #FFFFFF;

    &::placeholder {
      color: rgba(255,255,255,.5);
    }
  }
}