.sponsorer {
    
    .sponsorbild {
        display: block;
        margin: auto!important;
        width: 100%;
        height: auto;
    }

    .centerimage {
        display: block;
        margin: auto!important;
    }
}